head
{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: optional 35px;
}
body 
{
    color: rgb(109, 10, 10);
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: optional 10px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
